.myCardBase {
  width: 98%;
  margin: 15px;
  padding: 15px;
  border-radius: 15px !important;
}

.myFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.myFlexBetween {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.myPagination {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mySearch {
  margin-left: auto;
}

.searchSetting {
  line-height: 28px;
  font-size: 12px;
}

.el-table {
  border-top: 1px solid #dee5eb;
}

.el-table .el-table__fixed {
  height: 100% !important;
}

.el-table th {
  background-color: #fbfbfb !important;
}

.el-table tr .el-collapse {
  border: none;
}

.el-table tr .el-collapse-item__header {
  background: none;
  border: none;
  height: 26px;
  line-height: 26px;
  font-size: 12px;
  color: #606266;
}

.el-table tr .el-collapse-item__wrap {
  background: none;
  position: absolute;
  border: none;
  z-index: 2;
  background-color: #F5F7FA;
  padding: 0 20px 5px;
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
  border-radius: 0 0 6px 6px;
  color: #606266;
}

.el-table tr .el-collapse-item__content {
  padding-bottom: 0;
  font-size: 12px;
  color: #606266;
}

.el-table tr .el-collapse-item__arrow {
  margin: 0 0 0 8px;
}

.el-table tr:hover .jv-container.jv-light {
  background-color: #F5F7FA;
}

.el-table tr:hover .jv-container.jv-light .jv-ellipsis {
  background-color: #F5F7FA;
}

.el-table tr .imgBox {
  height: 60px;
  width: auto;
}

.el-table tr .jv-container.jv-light {
  padding: 0 !important;
  -webkit-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
  font-size: 12px;
  color: #606266;
}

.el-table tr .jv-container.jv-light .jv-ellipsis {
  -webkit-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
  background-color: #ffffff;
}

.el-table tr .jv-container.jv-light .jv-code {
  padding: 0 !important;
}

.fontSize12 {
  font-size: 12px !important;
}

.el-select-dropdown__item, .el-cascader-node {
  font-size: 12px !important;
  height: 28px;
  line-height: 28px;
}

.el-button {
  height: 30px;
}

.el-breadcrumb__item {
  font-size: 13px;
}

.el-dropdown + .el-button, .el-button + .el-dropdown, .el-dropdown + .el-dropdown {
  margin-left: 5px;
}

.el-dialog {
  background-color: #f6f6f6;
  border-radius: 15px;
}

.el-dialog .el-dialog__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #e5e5e5;
  padding: 10px 20px 10px 20px;
}

.el-dialog .el-dialog__header .formDialogOpt {
  margin-left: auto;
}

.el-dialog .el-dialog__header .formDialogOpt .el-button {
  margin-right: 10px;
}

.el-dialog .el-dialog__header .formDialogOpt .el-link {
  width: 30px;
  font-size: 16px;
}

.el-dialog .el-dialog__header .formDialogTitle {
  line-height: 30px;
  font-size: 16px;
  color: #303133;
}

.el-dialog .el-dialog__body {
  max-height: 700px;
  overflow: auto;
}

.el-dialog.is-fullscreen .el-dialog__body {
  max-height: calc(100vh - 70px);
  overflow: auto;
}

.el-form-item__label {
  font-size: 12px;
  color: #909399;
}

.myForm .mainForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.myForm .mainForm .formImg {
  width: 79px;
  text-align: center;
  font-size: 70px;
  margin-left: 20px;
}

.myForm .mainForm .formItem {
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 100%;
}

.myForm .mainForm .formItem .el-form-item {
  margin-bottom: 10px;
  width: 100%;
}

.myForm .mainForm .formItem .el-form-item .el-form-item__content {
  margin-left: 10px !important;
  width: 100%;
}

.myForm .mainForm .formItem .el-form-item .el-form-item__content .el-input {
  width: calc(100% - 300px);
}

.myForm .mainForm .formItem .el-form-item .el-form-item__content .el-input__inner {
  background-color: #f6f6f6;
  border-color: #f6f6f6;
}

.myForm .mainForm .formItem .el-form-item .el-form-item__content .el-input__inner:hover {
  border-color: #C0C4CC;
}

.myForm .mainForm .formItem .el-form-item .el-form-item__content .el-input__inner:focus {
  border-color: #4ba9f2;
  -webkit-box-shadow: 0 0 2px #4ba9f2;
          box-shadow: 0 0 2px #4ba9f2;
}

.myForm .secondaryForm, .myForm .otherForm {
  margin-top: 10px;
}

.myForm .secondaryForm .formItem, .myForm .otherForm .formItem {
  width: 100%;
}

.myForm .secondaryForm .formItem .el-form-item, .myForm .otherForm .formItem .el-form-item {
  background-color: #ffffff;
  padding: 5px 10px 5px 10px;
  border: 1px solid #e5e5e5;
  margin: -1px -1px -1px -1px;
}

.myForm .secondaryForm .formItem .el-form-item .el-form-item__content .el-input, .myForm .otherForm .formItem .el-form-item .el-form-item__content .el-input, .myForm .secondaryForm .formItem .el-form-item .el-form-item__content .el-textarea, .myForm .otherForm .formItem .el-form-item .el-form-item__content .el-textarea, .myForm .secondaryForm .formItem .el-form-item .el-form-item__content .el-date-editor, .myForm .otherForm .formItem .el-form-item .el-form-item__content .el-date-editor {
  width: calc(100% - 200px);
}

.myForm .secondaryForm .formItem .el-form-item .el-form-item__content .el-input-number, .myForm .otherForm .formItem .el-form-item .el-form-item__content .el-input-number {
  width: calc(100% - 200px) !important;
}

.myForm .secondaryForm .formItem .el-form-item .el-form-item__content .el-input-number .el-input-number__decrease, .myForm .otherForm .formItem .el-form-item .el-form-item__content .el-input-number .el-input-number__decrease, .myForm .secondaryForm .formItem .el-form-item .el-form-item__content .el-input-number .el-input-number__increase, .myForm .otherForm .formItem .el-form-item .el-form-item__content .el-input-number .el-input-number__increase {
  background-color: #ffffff;
  border: none;
}

.myForm .secondaryForm .formItem .el-form-item .el-form-item__content .el-input-number .el-input, .myForm .otherForm .formItem .el-form-item .el-form-item__content .el-input-number .el-input {
  width: 100%;
}

.myForm .secondaryForm .formItem .el-form-item .el-form-item__content .el-select, .myForm .otherForm .formItem .el-form-item .el-form-item__content .el-select {
  width: calc(100% - 200px);
}

.myForm .secondaryForm .formItem .el-form-item .el-form-item__content .el-select .el-select__input, .myForm .otherForm .formItem .el-form-item .el-form-item__content .el-select .el-select__input {
  height: 11px;
  font-size: 12px;
}

.myForm .secondaryForm .formItem .el-form-item .el-form-item__content .el-select .el-input, .myForm .otherForm .formItem .el-form-item .el-form-item__content .el-select .el-input {
  width: 100%;
}

.myForm .secondaryForm .formItem .el-form-item .el-form-item__content .el-select .el-input.is-focus .el-input__inner, .myForm .otherForm .formItem .el-form-item .el-form-item__content .el-select .el-input.is-focus .el-input__inner {
  border-color: #4ba9f2 !important;
  -webkit-box-shadow: 0 0 2px #4ba9f2 !important;
          box-shadow: 0 0 2px #4ba9f2 !important;
}

.myForm .secondaryForm .formItem .el-form-item .el-form-item__content .el-cascader, .myForm .otherForm .formItem .el-form-item .el-form-item__content .el-cascader {
  width: calc(100% - 200px) !important;
}

.myForm .secondaryForm .formItem .el-form-item .el-form-item__content .el-cascader .el-input, .myForm .otherForm .formItem .el-form-item .el-form-item__content .el-cascader .el-input {
  width: 100%;
}

.myForm .secondaryForm .formItem .el-form-item .el-form-item__content .el-cascader .el-input.is-focus .el-input__inner, .myForm .otherForm .formItem .el-form-item .el-form-item__content .el-cascader .el-input.is-focus .el-input__inner {
  border-color: #4ba9f2 !important;
  -webkit-box-shadow: 0 0 2px #4ba9f2 !important;
          box-shadow: 0 0 2px #4ba9f2 !important;
}

.myForm .secondaryForm .formItem .el-form-item .el-form-item__content .el-input__inner, .myForm .otherForm .formItem .el-form-item .el-form-item__content .el-input__inner {
  background-color: #f6f6f6;
  border-color: #f6f6f6;
  background-color: #ffffff;
  border-color: #ffffff;
  height: 28px !important;
  width: 100%;
}

.myForm .secondaryForm .formItem .el-form-item .el-form-item__content .el-input__inner:hover, .myForm .otherForm .formItem .el-form-item .el-form-item__content .el-input__inner:hover {
  border-color: #C0C4CC;
}

.myForm .secondaryForm .formItem .el-form-item .el-form-item__content .el-input__inner:focus, .myForm .otherForm .formItem .el-form-item .el-form-item__content .el-input__inner:focus {
  border-color: #4ba9f2;
  -webkit-box-shadow: 0 0 2px #4ba9f2;
          box-shadow: 0 0 2px #4ba9f2;
}

.myForm .secondaryForm .formItem .el-form-item .el-form-item__content .el-textarea__inner, .myForm .otherForm .formItem .el-form-item .el-form-item__content .el-textarea__inner {
  background-color: #f6f6f6;
  border-color: #f6f6f6;
  background-color: #ffffff;
  border-color: #ffffff;
}

.myForm .secondaryForm .formItem .el-form-item .el-form-item__content .el-textarea__inner:hover, .myForm .otherForm .formItem .el-form-item .el-form-item__content .el-textarea__inner:hover {
  border-color: #C0C4CC;
}

.myForm .secondaryForm .formItem .el-form-item .el-form-item__content .el-textarea__inner:focus, .myForm .otherForm .formItem .el-form-item .el-form-item__content .el-textarea__inner:focus {
  border-color: #4ba9f2;
  -webkit-box-shadow: 0 0 2px #4ba9f2;
          box-shadow: 0 0 2px #4ba9f2;
}

.myForm.el-form--inline .secondaryForm .el-form-item, .myForm.el-form--inline .otherForm .el-form-item, .myForm.el-form--inline .otherForm .el-form-item {
  width: 50%;
}

.myForm.el-form--inline .secondaryForm .el-form-item .el-form-item__content, .myForm.el-form--inline .otherForm .el-form-item .el-form-item__content, .myForm.el-form--inline .otherForm .el-form-item .el-form-item__content {
  width: 60%;
}

.myForm.el-form--inline .secondaryForm .el-form-item .el-form-item__content .el-input, .myForm.el-form--inline .otherForm .el-form-item .el-form-item__content .el-input, .myForm.el-form--inline .secondaryForm .el-form-item .el-form-item__content .el-textarea, .myForm.el-form--inline .otherForm .el-form-item .el-form-item__content .el-textarea, .myForm.el-form--inline .otherForm .el-form-item .el-form-item__content .el-input, .myForm.el-form--inline .otherForm .el-form-item .el-form-item__content .el-textarea {
  width: 100%;
}

.myForm.el-form--inline .secondaryForm .el-form-item .el-form-item__content .el-input-number, .myForm.el-form--inline .otherForm .el-form-item .el-form-item__content .el-input-number, .myForm.el-form--inline .otherForm .el-form-item .el-form-item__content .el-input-number {
  width: 100% !important;
}

.myForm.el-form--inline .secondaryForm .el-form-item .el-form-item__content .el-input-number .el-input-number__decrease, .myForm.el-form--inline .otherForm .el-form-item .el-form-item__content .el-input-number .el-input-number__decrease, .myForm.el-form--inline .secondaryForm .el-form-item .el-form-item__content .el-input-number .el-input-number__increase, .myForm.el-form--inline .otherForm .el-form-item .el-form-item__content .el-input-number .el-input-number__increase, .myForm.el-form--inline .otherForm .el-form-item .el-form-item__content .el-input-number .el-input-number__decrease, .myForm.el-form--inline .otherForm .el-form-item .el-form-item__content .el-input-number .el-input-number__increase {
  background-color: #ffffff;
  border: none;
}

.myForm.el-form--inline .secondaryForm .el-form-item .el-form-item__content .el-input-number .el-input, .myForm.el-form--inline .otherForm .el-form-item .el-form-item__content .el-input-number .el-input, .myForm.el-form--inline .otherForm .el-form-item .el-form-item__content .el-input-number .el-input {
  width: 100%;
}

.myForm.el-form--inline .secondaryForm .el-form-item .el-form-item__content .el-select, .myForm.el-form--inline .otherForm .el-form-item .el-form-item__content .el-select, .myForm.el-form--inline .secondaryForm .el-form-item .el-form-item__content .el-cascader, .myForm.el-form--inline .otherForm .el-form-item .el-form-item__content .el-cascader, .myForm.el-form--inline .otherForm .el-form-item .el-form-item__content .el-select, .myForm.el-form--inline .otherForm .el-form-item .el-form-item__content .el-cascader {
  width: 100% !important;
}

.myForm.el-form--inline .secondaryForm .el-form-item .el-form-item__content .el-select .el-input, .myForm.el-form--inline .otherForm .el-form-item .el-form-item__content .el-select .el-input, .myForm.el-form--inline .secondaryForm .el-form-item .el-form-item__content .el-cascader .el-input, .myForm.el-form--inline .otherForm .el-form-item .el-form-item__content .el-cascader .el-input, .myForm.el-form--inline .otherForm .el-form-item .el-form-item__content .el-select .el-input, .myForm.el-form--inline .otherForm .el-form-item .el-form-item__content .el-cascader .el-input {
  width: 100%;
}

.myForm .slotForm .el-form-item {
  width: 100%;
}

.myForm .slotForm .el-form-item .el-form-item__content {
  width: 100%;
  margin-left: 0 !important;
}

.el-drawer .el-drawer__header {
  padding: 10px;
  margin-bottom: 0;
}

.el-drawer .el-drawer__header .el-link {
  width: 30px;
  font-size: 16px;
}

.el-drawer .el-drawer__body .searchDrawerForm {
  margin: 10px 15px 0 15px;
}

.el-drawer .el-drawer__body .searchDrawerForm .el-form .searchCondition {
  width: 30%;
  margin-right: 5%;
}

.el-drawer .el-drawer__body .searchDrawerForm .el-form .searchText, .el-drawer .el-drawer__body .searchDrawerForm .el-form .searchCascader, .el-drawer .el-drawer__body .searchDrawerForm .el-form .searchSelect, .el-drawer .el-drawer__body .searchDrawerForm .el-form .searchDate {
  width: 65% !important;
}

.el-drawer .el-drawer__body .searchDrawerForm .el-form .searchText .el-input-number__decrease, .el-drawer .el-drawer__body .searchDrawerForm .el-form .searchText .el-input-number__increase, .el-drawer .el-drawer__body .searchDrawerForm .el-form .searchCascader .el-input-number__decrease, .el-drawer .el-drawer__body .searchDrawerForm .el-form .searchCascader .el-input-number__increase, .el-drawer .el-drawer__body .searchDrawerForm .el-form .searchSelect .el-input-number__decrease, .el-drawer .el-drawer__body .searchDrawerForm .el-form .searchSelect .el-input-number__increase, .el-drawer .el-drawer__body .searchDrawerForm .el-form .searchDate .el-input-number__decrease, .el-drawer .el-drawer__body .searchDrawerForm .el-form .searchDate .el-input-number__increase {
  background-color: #ffffff;
  border: none;
}

.el-drawer .el-drawer__body .searchDrawerForm .el-form .searchText .el-input__inner, .el-drawer .el-drawer__body .searchDrawerForm .el-form .searchCascader .el-input__inner, .el-drawer .el-drawer__body .searchDrawerForm .el-form .searchSelect .el-input__inner, .el-drawer .el-drawer__body .searchDrawerForm .el-form .searchDate .el-input__inner {
  height: 28px !important;
}

.el-drawer .el-drawer__body .flowDrawerForm {
  margin: 10px 15px 0 15px;
}

.el-drawer .el-drawer__body .flowDrawerForm .el-form .flowText, .el-drawer .el-drawer__body .flowDrawerForm .el-form .flowSelect, .el-drawer .el-drawer__body .flowDrawerForm .el-form .flowDate {
  width: 100% !important;
}

.el-drawer .el-drawer__body .flowDrawerForm .el-form .flowText .el-input-number__decrease, .el-drawer .el-drawer__body .flowDrawerForm .el-form .flowText .el-input-number__increase, .el-drawer .el-drawer__body .flowDrawerForm .el-form .flowSelect .el-input-number__decrease, .el-drawer .el-drawer__body .flowDrawerForm .el-form .flowSelect .el-input-number__increase, .el-drawer .el-drawer__body .flowDrawerForm .el-form .flowDate .el-input-number__decrease, .el-drawer .el-drawer__body .flowDrawerForm .el-form .flowDate .el-input-number__increase {
  background-color: #ffffff;
  border: none;
}

.el-drawer .el-drawer__body .flowDrawerForm .el-form .flowText .el-input__inner, .el-drawer .el-drawer__body .flowDrawerForm .el-form .flowSelect .el-input__inner, .el-drawer .el-drawer__body .flowDrawerForm .el-form .flowDate .el-input__inner {
  height: 28px !important;
}

.filterTag .el-tag {
  margin: 0 0 10px 5px;
}

.el-tree .el-tree > .el-tree-node:after {
  border-top: none;
}

.el-tree .el-tree-node {
  position: relative;
  padding-left: 16px;
}

.el-tree .el-tree-node .el-tree-node:before {
  content: '';
  left: 2px;
  position: absolute;
  right: auto;
  border-width: 1px;
}

.el-tree .el-tree-node .el-tree-node:after {
  content: '';
  left: 2px;
  position: absolute;
  right: auto;
  border-width: 1px;
}

.el-tree .el-tree-node .el-tree-node:before {
  border-left: 1px dashed #4ba9f2;
  bottom: 0px;
  height: 100%;
  top: -26px;
  width: 1px;
}

.el-tree .el-tree-node .el-tree-node:after {
  border-top: 1px dashed #4ba9f2;
  height: 20px;
  top: 12px;
  width: 18px;
}

.el-tree .el-tree-node__expand-icon.is-leaf {
  display: none;
}

.el-tree .el-tree-node__children {
  padding-left: 16px;
}

.el-tree .el-tree-node :last-child:before {
  height: 38px;
}

.el-tree .el-tree > .el-tree-node:before {
  border-left: none;
}

.el-tree .el-tree > .el-tree-node:after {
  border-top: none;
}

.el-tree .el-tree .el-tree-node__expand-icon.expanded {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

.el-tree .el-tree .el-icon-caret-right:before {
  content: "\e723" !important;
  font-size: 16px;
  color: #1389BC;
  position: absolute;
  left: -20px;
  top: -8px;
}

.el-tree .el-tree .el-tree-node__expand-icon.expanded.el-icon-caret-right:before {
  content: "\e722" !important;
  font-size: 16px;
  color: #1389BC;
  position: absolute;
  left: -20px;
  top: -8px;
}

.el-tree .el-tree-node__content > .el-tree-node__expand-icon {
  padding: 0;
}

.el-tree .el-tree-node__content {
  padding-left: 0 !important;
}

.chartHeard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  height: 30px;
}

.chartHeard .chartTitle {
  min-width: 200px;
  font-size: 14px;
  line-height: 28px;
}

.chartHeard .chartSearch {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.chartHeard .chartSearch .el-select {
  margin: 0 5px;
}

.chartHeard .chartSearch .el-select .el-input--mini .el-input__inner {
  height: 28px !important;
}
/*# sourceMappingURL=my.css.map */